*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general */
.login-page {
  background-color: #f5f3f3;
  font-family: 'Poppins', sans-serif;
}

/* Contenedor principal */
.login-card {
  max-width: 900px;
  background: #fff;
  border-radius: 25px;
}

/* Gradiente morado (lado derecho) */
.gradient-bg {
  background: radial-gradient(circle at top left, #b57cff, #7a48e3);
}

/* Botones */
.btn-primary {
  background-color: #7a48e3 !important;
  border: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #5a36b1 !important;
}

/* Campos de texto */
.form-control {
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: none;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #7a48e3;
  box-shadow: 0 0 5px rgba(122, 72, 227, 0.3);
}

/* Texto */
h2, h3 {
  letter-spacing: 0.5px;
}

.text-primary {
  color: #7a48e3 !important;
}


/* Animación circular de entrada/salida */
@keyframes rotateIn {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes rotateOut {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(-90deg);
    opacity: 0;
  }
}

/* Clases para aplicar la animación */
.page-enter {
  animation: rotateIn 0.8s ease forwards;
}

.page-exit {
  animation: rotateOut 0.8s ease forwards;
}

.container-login,
.container-register {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* estilos de la pagina principal */

/* layout general */
.dashboard-container {
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* sidebar */
.sidebar {
  width: 230px;
  background-color:  #7a48e3;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s;
  font-weight: 500;
}

.menu-item:hover {
  background-color: #9d7eff;
  color: white;
}

.menu-item.active {
  background-color: white;
  color: #8758ff;
  font-weight: 600;
}

.logout-btn {
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
}

.logout-btn:hover {
  background-color: #9d7eff;
}

/* contenido principal */
.content {
  background-color: #f8f9fa;
}

/* tarjetas de proyectos */
.project-card {
  background: linear-gradient(135deg, #b57cff, #7a48e3);
  border-radius: 20px;
}

/* círculo de progreso */
.progress-circle {
  width: 120px;
  height: 120px;
}

.progress-circle svg path {
  stroke: currentColor;
}

.circle-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-purple {
  color: #b57cff !important;
}

.btn-link.text-purple {
  color: #b57cff;
  text-decoration: none;
}

.btn-link.text-purple:hover {
  color: #7a48e3;
}

